/* * {
     color: red;
} */

h1 {
     color: red;
     background-color: lightgrey;
}

.a_button {
     color: green;
     background-color: lightgrey;
}

#assemble_button {
     color: red;
     background-color: lightgrey;
}

.notification {
     font-weight: bold;
}
.warning {
     background-color: yellow;
}

.error {
     background-color: rgb(243, 136, 136);
}

.info {
     background-color: rgb(120, 213, 241);
}

a[href*="index.html"] {
     background-color: lightblue;
}

a[href="missions.html"] {
     background-color: greenyellow;
}

a[href^="my_"]{
     background-color: aquamarine;
}

a[href^="https:"] {
     background-color: rgb(243, 152, 152);
}

a[href^="https:"][href$=".org"] {
     background-color: rgb(173, 243, 152);
}

a[href^="https:"][class~="codified"] {
     background-color: rgb(173, 243, 152);
}

input[required] {
     background-color: rgb(247, 169, 169);
}

p, span {
     color: rgb(25, 126, 156);
}

ul.iron_man a {
     background-color: gold;
     color: red;
}

ul.captain_america a {
     background-color: lightblue;
     color: white;
}

ul.iron_man > li, ul.captain_america > li {
     list-style-type: none;
}    

.team ~ p {
     visibility: hidden;
}


a:hover {
     font-size: 25px;
}

a:visited {
     background-color: black;
}

input[type="button"]:active {
     background-color: white;
}

input[type="text"]:focus {
     background-color: white;
}

/* .team:checked ~ p {
     visibility:visible;
} */

#team_captain:checked ~ p#captain_america_recruit {
     visibility:visible;
}

#team_iron_man:checked ~ p#iron_man_recruit {
     visibility:visible;
}

.pseudo_element_example p::first-line {
     background-color: yellow;
}

.pseudo_element_example p::first-letter {
     text-transform: uppercase;
}

.pseudo_element_example p::selection {
     background-color: orange;
}

a[href="dc_comics.html"]::after {
     content: "<- BORING!!";
     color: red;
}

